@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=IBM+Plex+Sans:wght@200&family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0.4em;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 6px;
  border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar-thumb:active {
  background-color: white;
}

body{
  background: #111010;
}

.scroll-page
{
  position: fixed;
  bottom: 15px;
  right: 20px;
}

.angledoub{
  width: 35px;
  height: 35px;
  cursor: pointer;
  color: white;
  border-radius: 50%;
  background-color:  #23a6dd;
  padding: 4px;
}

.angledoub:hover{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
}

nav{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.navbar-back{
  width: 70%;
  background-color: #201e1e;
  padding: 20px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.navbar-parent{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-parent-left a{
    color: #a9a7a7;
    font-family: 'Nova Square', sans-serif;
    font-weight: 300;
    cursor: pointer;
}

.navbar-parent-left a:hover{
  color: white;
  font-weight: 700;
}

.navbar-parent-left{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-parent-right{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-parent-right img{
  opacity: 0.9;
}

.navbar-parent-right img:hover {
  box-shadow: 0px 0px 8px 0px #23a6dd;
}

.identication {
  height: calc(33cm - 126px);
  display: flex;
  justify-content: center;
}

.identification-center{
  width: 72%;
  height: 24cm;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.identification-center-name{
  display: flex;
  justify-content: center;
  width: 70%;
  height: 80%;
  flex-direction: column;
}

.identification-center-name1{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.identification-center-name1 h1{
    color: white;
    font-size: 60px;
    margin-bottom: 15px;
}

.identification-center-name1 p{
  color: #e3dddd;
  font-size: 20x;
  font-family: 'IBM Plex Sans', sans-serif;
  margin-bottom: 40px;
}

.identification-center-name1 p span{
  color: #23a6dd;
}

.identification-center-photo{
  width: 30%;
  height: 80%;
  display: flex;
  align-items: center;
}

.identification-center-photo img{
  border-radius: 50%;
  width: 330px;
  height: 330px;
}

.identification-center-buttom {
  display: flex;
  align-items: center;
  height: 10%;
}

.CaseStudies-project1-left img {
  width: 21px;
  height: 18px;
  margin-left: 3px;
}

.identification-center-buttom a {
  color: white;
  display: flex;
  text-decoration: none;
  background-color: #23a6dd;
  width: calc(8cm - 20px);
  height: 48px;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: flex-end;
  font-family: 'Play', sans-serif;
  border-radius: 29px;
  cursor: pointer;
}

.identification-center-buttom span{
    color: white;
    font-family: 'Play', sans-serif;
}

.button-link span {
  min-width: 0.3em;
  display: inline-block;
  transition: 0.4s cubic-bezier(0.51, -0.57, 0, 1.39);
  opacity: 0;
  position: relative;
  right: 100px;
  letter-spacing: 2px;
  transform: translate(0, -20px);
  font-size: 23px;
}

.button-link::before {
  content: attr(data-text);
  transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
  letter-spacing: 2px;
  opacity: 1;
  transform: translate(0, 0px);
  position: relative;
  left: 13px;
}

.button-link:hover{
  background-color: black;
  border: 1px solid #00b7ff;
}

.button-link:hover:before, .button-link:focus:before{
    opacity: 0;
    transform:  translate(0, 20px);
}

.button-link:hover span, .button-link:focus span{
  opacity: 1;
  color: white;
  transform: translate(0, 0px);
}

.button-link:hover span:nth-child(1), .button-link:focus span:nth-child(1){
    transition-delay: 0.025s;
}

.button-link:hover span:nth-child(2), .button-link:focus span:nth-child(2){
    transition-delay: 0.05s;
}

.button-link:hover span:nth-child(3), .button-link:focus span:nth-child(3){
    transition-delay: 0.075s;
}

.button-link:hover span:nth-child(4), .button-link:focus span:nth-child(4){
    transition-delay: 0.1s;
}

.button-link:hover span:nth-child(5), .button-link:focus span:nth-child(5){
    transition-delay: 0.125s;
}

.button-link:hover span:nth-child(6), .button-link:focus span:nth-child(6){
    transition-delay: 0.15s;
}

.identification-center-buttom-bg {
  background-color: #23a6dd;
  width: 6cm;
  height: 58px;
  display: flex;
  align-items: center;
}

p#eco-para {
  margin-bottom: 12px;
}

.CaseStudies-section {
  background-color: white;
  height: 36cm;
  width: 100%;
  display: flex;
  justify-content: center;
}

.CaseStudies-container{
  display: flex;
  flex-direction: column;
  width: 68%;
}

.CaseStudies-header {
  height: 12%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  justify-content: center;
}

.CaseStudies-header h1{
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 9px;
  margin-top: 15px;
}

.CaseStudies-header p {
  width: 34%;
  color: #9C9C9C;
  font-family: 'Nova Square', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.CaseStudies-project1{
  height: 31%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#CaseStudies-project-first{
  height: 25%;
}

.CaseStudies-project1-left{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}


.CaseStudies-project1-right {
  width: 50%;
  display: flex;
  align-items: center;
}

.CaseStudies-project1-right video{
  width: 80%;
  height: 80%;
  border-radius: 9px;
}

#irc-video {
  height: 92%;
  width: 76%;
}

.CaseStudies-lang {
	width: 61px;
	height: 21px;
	display: flex;
	align-content: center;
	justify-content: center;
	border-radius: 9px;
  margin-bottom: 15px;
}

.CaseStudies-project1-information{
  margin: 10px 0;
}

.CaseStudies-project1-information h2{
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
  font-size: 27px;
}

.CaseStudies-project1-information p{
  color: #9C9C9C;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 15px;
  width: 73%;
}

.CaseStudies-project1-left a {
  background-color: #FFA217;
  width: 5cm;
  border: none;
  height: 40px;
  margin-top: 14px;
  cursor: pointer;
  color: white;
  font-weight: 800;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-family: 'Play', sans-serif;
  border-radius: 3px;
}

.transcendance-lang {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 16px;
}

.lang {
	width: 44px;
	display: flex;
	height: 21px;
	align-content: center;
	justify-content: center;
	border-radius: 7px;
}

#html,
#css,
#js,
#react,
#ts,
#next, 
#nest,
#docker,
#c {
  background-color: orange;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 15px;
}

#html p,
#css p,
#js p,
#react p,
#ts p,
#next p,
#nest p,
#docker p,
#c p
 {
  font-size: 11px;
  font-family: 'Play', sans-serif;
}

#css{
  background-color: #1a85e4;
}

#js{
  background-color: rgb(228, 228, 54);
}

#ts{
  background-color: #22f;
}

#react{
    background-color: #4f8af9;
}


#next{
    background-color: #111010;
}

#nest{
  background-color: #f92e2e;
}

#transcendance-btn{
  background-color: #2AB090;
  color: white;
  font-weight: 600;
}

#docker{
  background-color: #00b7ff;
  width: 54px;
}

#view2{
  background-color: #000AFF;
}

#c{
  background-color: #1a4fee;
}

#CaseStudies-different{
  height: 33%;
}

#trans-image{
  margin-top: 6px;
}

#btn-tran{
  background-color: #000AFF;
}

#btn-cub{
  background-color: #2AB090;
}

.feedbacks {
  height: calc(25cm + 24px);
  display: flex;
  justify-content: center;
}

.feedbacks-container{
    height: 100%;
    width: 60%;
}

.feedbacks-header {
  height: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 17px;
  justify-content: center;
}

.feedbacks-header h1 {
  color: white;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
}

.feedbacks-header p {
  width: 18cm;
  color: #9C9C9C;
  font-family: 'Nova Square', sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.feedbacks-section{
  height: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
}

.feedbacks-poeple {
	border: 0.7px solid #ffffff57;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-bottom: 20px;
	margin-left: 20px;
  border-radius: 19px;
}

.feedbacks-msg-container {
  height: 68%;
}

.feedbacks-msg {
	width: calc(100% - 45px);
	margin-left: 45px;
}

.feedbacks-msg p {
  width: 100%;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Sora', sans-serif;
}

.feedbacks-identif {
	display: flex;
	align-items: center;
	margin-top: 41px;
	width: calc(100% - 37px);
	margin-left: 37px;
}

.feedbacks-identif img {
	width: 47px;
	height: 47px;
	margin-right: 7px;
}

.feedbacks-identif h2 {
	color: white;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}

.quote {
  width: 26px;
  height: 27px;
  position: absolute;
}

.container-quote {
  position: relative;
  bottom: 114px;
  left: 21px;
}

.education{
  background-color: white;
  display: flex;
  justify-content: center;
  height: 30cm;
}

.education-container {
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.education-icon img{
  width: 40px;
  height: 40px;
}

.education-header {
  height: 16%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 37px;
}

.education-header h1 {
	color: black;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 15px;
}

.education-header p {
  width: 16cm;
  color: #9C9C9C;
  font-family: 'Nova Square', sans-serif;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.education-section {
  height: calc(70% - 15px);
  display: flex;
  align-items: center;
  width: calc(26cm - 44px);
}

.education-information {
  height: 100%;
  align-items: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-right: 24px;
  width: 11cm;
}


.education-img {
	display: flex;
	align-items: center;
	justify-content: center;
}

.education-img img {
  width: 305px;
  height: 332px;
  border-radius: 13px;
}

.education-para {
	width: 100%;
	height: 31%;
  display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.education-para p {
  width: 67%;
  color: #807e7e;
  font-family: 'Nanum Gothic';
  font-size: 12px;
}

.education-para {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  margin-top: 13px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.education-para h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

#education-p {
  margin-bottom: 12px;
}

#school-para {
  width: 68%;
  font-size: 12.5px;
  margin-bottom: 12px;
}

.education-para a {
  height: 38px;
  background: #23a6dd;
  color: white;
  font-family: 'Play', sans-serif;
  width: 152px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  font-size: 12.5px;
  cursor: pointer;
  text-decoration: none;
}

.MyAnimation {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  height: 100%;
}

#left{
  margin-right: 15px;
}

.education-icon{
  cursor: pointer;
}

.MyAnimation-child{
  display: flex;
}

#GetInTouc {
  background-color: black;
  height: calc(27cm + 12px);
}

#GetInTouc-header{
  color: white;
}

.GetInTouc-container {
  width: 20cm;
  height: 21cm;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.GetInTouc-input {
  width: 90%;
  height: 21%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10%;
}

#GetInTouc-a{
  border-radius: 11px;
}

.GetInTouc-input input, .GetInTouc-input textarea {
  height: 77px;
  width: 76%;
  display: flex;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-top: 17px;
  margin-left: 14px;
  padding-left: 14px;
}

.GetInTouc-input textarea {
  height: 208px;
  padding-top: 14px;
}

.GetInTouc-input label {
  font-family: 'Cantarell', sans-serif;
  color: white;
  font-size: 16px;
  margin-left: 14px;
}

.GetInTouc-buttom {
  width: 90%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: calc(1cm + 23px);
}

.submit-button {
  height: 65px;
  width: 345px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  cursor: pointer;
}

.submit-button a {
  color: white;
  font-family: 'Play', sans-serif;
}

.submit-button:hover{
  border: 1px solid #23a6dd;
  background: black;
}

.submit-button:hover a{
  color: #09adf3;
}

#GetInTouc-message{
  height: 32%;
}

.GetInTouc-input input::placeholder, .GetInTouc-input textarea::placeholder{
  color: #006aff;
  font-family: 'Sora', sans-serif;
}

#GetInTouc-a::before {
  right: -18px;
  left: -16px;
  font-size: 23px;
  letter-spacing: 1px;
}

/* Phone Screen */

@media screen and (max-width: 1864px) {
  .CaseStudies-container{
    width: 85%;
  }
  .CaseStudies-project1-right video{
    height: 73%;
    width: 85%;
  }
}

@media screen and (max-width: 1603px)  {
  .CaseStudies-project1-information p{
    font-size: 13px;
  }
  .CaseStudies-header p {
    font-size: 10px;
    width: 33%;
}

  .CaseStudies-container{
    width: 97%;
  }
  .identification-center-photo img{
    width: 282px;
    height: 282px;
  }
  .navbar-parent-right img{
    width: 22px;
    height: 22px;
  }
  .feedbacks-container{
    width: 72%;
  }
}

@media screen and (max-width: 1236px) {
  .CaseStudies-project1-right video{
    height: 62%;
  }
}

@media screen and (max-width: 1011px) {
    .CaseStudies-project1-information p{
      font-size: 10px;
      width: 99%;
    }
    .CaseStudies-container{
      width: 98%;
    }

}

@media screen and (max-width: 952px) {
  .CaseStudies-project1-right video {
    width: 93%;
    height: 56%;
  }
  .feedbacks-section{
    height: 58%;
  }
  .feedbacks-msg{
    margin-left: 30px;
  }
  .container-quote {
    bottom: 94px;
  }
  .feedbacks-msg p{
    font-size: 14px;
  }
  .education-information{
      width: 9cm;
  }
  .education-section {
    width: calc(23cm - 72px);
  }
  .education-header{
    height: 13%;
  }
  .education-img img {
    width: 277px;
    height: 318px;
  }


}

@media screen and (max-width: 796px) {
  .navbar-parent-right {
    width: 24%;
}
  .navbar-parent-left a{
    font-size: 14px;
  }
  #irc-video{
    width: 92%;
  }
  .navbar-parent-right a img{
    width: 30px;
    height: 30px;
  }
  .navbar-back{
    width: 80%;
  }
  .identification-center-photo img{
    width: 215px;
    height: 215px;
  }
  .identification-center {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 19cm;
}
  .identification-center-buttom button{
    width: 60%;
  }
  .identification-center-photo {
    width: 100%;
    justify-content: center;
  }
  .identification-center-name1 {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
 .identification-center-buttom {
  justify-content: center;
}
  .CaseStudies-project1-information p{
    font-size: 12px;
  }
  .CaseStudies-container{
      width: 96%;
  }
  .CaseStudies-project1-information h2{
    font-size: 24px;
  }
  .CaseStudies-project1-left a{
    height: 32px;
  }
  .CaseStudies-project1-right video{
    height: 49%;
    margin-top: 20px;
    width: 97%;
  }
  .CaseStudies-header h1{
    font-size: 30px;
  }
  .CaseStudies-project1-left{
    padding-left: 0;
  }
  #CaseStudies-different-right{
    padding-left: 7px;
  }
  #html p, #css p, #js p, #react p, #ts p, #next p, #nest p, #docker p, #c p{
    font-size: 10px;
  }
  .container-quote {
    bottom: 63px;
}
  .feedbacks-msg{
    margin-left: 15px;
  }
  .feedbacks-identif{
    margin-left: 14px;
    margin-top: 26px;
  }
  .feedbacks-msg-container {
    height: 79%;
  }
  #abberkac-feedback{
    font-size: 13px;
  }
  .education-information {
    width: 8cm;
  }
  .feedbacks-header p {
    width: 100%;
    font-size: 13px;
}
  .identification-center-photo img {
    width: 200px;
    height: 200px;
  }
  .identification-center-name1 h1 {
    font-size: 46px;
  }
  .education-icon img {
    width: 37px;
    height: 37px;
}
  .education-img img {
    width: 255px;
    height: 305px;
    border-radius: 13px;
  }
  .education-para h2 {
    font-size: 13px;
}

.education-para br{
  display: none;
}
.education-para p {
  width: 85%;
  font-size: 10px;
  margin-left: 27px;
}
  .education-para {
    margin-top: 18px;
    height: calc(4cm + 23px);
}
.education-para a {
  height: 30px;
  width: 130px;
  font-size: 12.5px;
  justify-content: space-around;
}
#school-para {
  width: 85%;
  font-size: 10.5px;
  margin-bottom: 12px;
}
 .education-section {
    width: calc(14cm - 123px);
}
  .education-icon img {
    width: 33px;
    height: 33px;
  }
  .education-header p {
    width: 12cm;
    font-size: 11px;
}
  .education-header h1 {
    font-size: 28px;
  }
  .GetInTouc-input input{
      height: 63px;
  }
  .GetInTouc-input textarea{
      height: 160px;
  }
  .GetInTouc-buttom {
    margin-right: 0;
    height: 10%;
}

  .submit-button {
    height: 48px;
    width: 188px;
  }
  .GetInTouc-input input, .GetInTouc-input textarea {
    width: 88%;
}
.GetInTouc-input{
  margin-left: 0;
}
.education-container {
  height: 88%;
  width: 74%;
}
.GetInTouc-container {
  width: 13cm;
}

}

@media screen and (max-width: 585px){
  .education-img img {
    width: 227px;
    height: 246px;
}
.education-icon img {
    width: 28px;
    height: 28px;
}
  #left{
    margin: 0;
  }
  .education-header {
    height: 16%;
}
  .education-information {
    width: 8cm;
    margin: 0;
  }
  #irc-video{
    width: 92%;
  }
  .education-section {
    width: calc(13cm - 123px);
  }
  .education {
    height: 22cm;
}
  .CaseStudies-project1-left {
    width: 70%;
}
.feedbacks-msg p, #abberkac-feedback {
  font-size: 10px;
  width: 87%;
}
  .feedbacks-msg {
    margin-left: 40px;
}
  .navbar-parent-left a{
    font-size: 25%;
  }
  .navbar-parent-right a img{
    width: 20px;
    height: 20px;
  }
  .navbar-back{
    width: 94%;
    padding: 10px 0px;
  }
  .identification-center-photo img{
    width: 180px;
    height: 180px;
  }
  .identification-center-buttom button{
    height: 44px;
  }
  .identification-center-name1 h1{
    font-size: 35px;
  }
  .identification-center-name1 p {
    width: 80%;
}
  .CaseStudies-project1-information p{
    font-size: 11px;
  }
  .CaseStudies-header p {
    font-size: 10px;
    width: 90%;
  }
  .CaseStudies-project1-information h2 {
    font-size: 20px;
  }
  .CaseStudies-project1-right video {
    height: 73%;
    margin-top: 0;
  }
  .CaseStudies-project1-left a{
    font-size: 12px;
  }

  .CaseStudies-project1 {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}
.feedbacks-section{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.feedbacks-poeple{
  justify-content: center;
}
.quote {
  width: 17px;
  height: 17px;
}
.container-quote {
  bottom: 29px;
}
.feedbacks-msg-container {
  height: 62%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feedbacks-identif {
  margin-top: 13px;
  width: 87%;
}
#CaseStudies-different {
  flex-direction: column;
}

.CaseStudies-section {
  height: 44cm;
}
#CaseStudies-project-first {
  height: 36%;
}
.CaseStudies-project1-right {
  height: 50%;
  width: 70%;
}
.feedbacks-container{
  width: 84%;
}
.feedbacks-identif h2{
  font-size: 10px;
}
.feedbacks-identif img{
  width: 30px;
  height: 30px;
}
.feedbacks-header p {
    font-size: 9px;
    width: 89%;
}
.CaseStudies-project1-left a {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.CaseStudies-project1-left img {
    width: 17px;
    height: 14px;
}
.CaseStudies-lang{
  margin-bottom: 0;
}
.CaseStudies-header {
  margin-bottom: 0;
  height: 9%;
}
#html, #css, #js, #react, #ts, #next, #nest, #docker, #c{
  margin-right: 5px;
}
.GetInTouc-container {
  width: 11cm;
  height: 21cm;
}
.education-header p {
  width: 11cm;
  font-size: 10px;
}
  .GetInTouc-input label {
    font-size: 15px;
  }
  .button-link:hover span, .button-link:focus span {
    font-size: 28px;
    right: 86px;
}
}

@media screen and (max-width: 426px) {
  .identification-center-name{
    width: 100%;
  }
  .CaseStudies-project1-information p {
    font-size: 8px;
}
.feedbacks {
  height: calc(20cm + 24px);
}
.feedbacks-section {
  height: 66%;
}
.CaseStudies-header {
  height: 12%;
}
.identication {
  height: calc(28cm - 126px);
}
.education {
  height: 20cm;
}
  .CaseStudies-header h1 {
    font-size: 27px;
    margin-right: 18px;
}
.CaseStudies-header p {
    font-size: 8px;
    width: 80%;
}
  #html, #css, #js, #react, #ts, #next, #nest, #docker, #c{
    margin-right: 4px;
  }
  #CaseStudies-project-first {
    height: 41%;
}
.button-link:hover span, .button-link:focus span {
  right: 55px;
}
  #CaseStudies-project-first {
    height: 37%;
  }
  .CaseStudies-project1-right video{
    margin-top: 22px;
  }
  .transcendance-lang{
    margin-bottom: 0;
  }
  #html p, #css p, #js p, #react p, #ts p, #next p, #nest p, #docker p, #c p{
    font-size: 9px;
  }
  .CaseStudies-section {
    height: 33cm;
  }
  .CaseStudies-project1-right video {
    height: 100%;
    margin-top: 0;
    width: 100%;
}
  .GetInTouc-input input {
    height: 51px;
  }
  .education-header {
    height: 9%;
  }
  .GetInTouc-container {
    width: 9cm;
    height: 18cm;
  }
  #GetInTouc {
    height: calc(21cm + 12px);
}
.education-section {
  width: calc(11cm - 134px);
  height: 82%;
}
 .education-information {
    width: 6cm;
  }
 .education-img img {
    width: 187px;
    height: 205px;
}
.education-para p {
  width: 94%;
  font-size: 9px;
  margin: 0;
}
.education-para a {
    height: 34px;
    width: 132px;
}
.education-para h2 {
    font-size: 12px;
}
.education-header p {
  width: 9cm;
  font-size: 9px;
}
#school-para {
  width: 100%;
  font-size: 9px;
  margin-bottom: 12px;
  }
  .navbar-parent-right a img {
    width: 16px;
    height: 16px;
}
.CaseStudies-project1 {
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  height: 38%;
}
.education-header h1 {
  margin-right: 17px;
}
.identification-center-buttom a {
  width: calc(6cm - 27px);
  height: 32px;
}
#GetInTouc-a::before {
    right: -18px;
    left: 22px;
    font-size: 19px;
    letter-spacing: 1px;
}
  .feedbacks-poeple {
    justify-content: center;
    margin-left: 0;
}
.feedbacks-msg p{
  font-size: 9px;
}
#abberkac-feedback{
  font-size: 8px;
}
.button-link::before {
  left: 39px;
  font-size: 11px;
}
.CaseStudies-project1-right {
  height: 42%;
}
.education-container {
  height: 100%;
  width: 74%;
}
.angledoub{
  width: 26px;
  height: 26px;
}
.button-link span{
  right: 62px;
}
}