@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=IBM+Plex+Sans:wght@200&family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


*{
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

body{
  background: #111010;
}

nav{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.navbar-back{
  width: 70%;
  background-color: #201e1e;
  padding: 20px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.navbar-parent{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-parent-left a{
    color: #a9a7a7;
    font-family: 'Nova Square', sans-serif;
    font-weight: 300;
    cursor: pointer;
}

.navbar-parent-left a:hover{
  color: white;
  font-weight: 700;
}

.navbar-parent-left{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-parent-right{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-parent-right img{
  opacity: 0.9;
}

.identication {
  height: calc(33cm - 126px);
  display: flex;
  justify-content: center;
}

.identification-center{
  width: 72%;
  height: 24cm;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.identification-center-name{
  display: flex;
  justify-content: center;
  width: 70%;
  height: 80%;
  flex-direction: column;
}

.identification-center-name1{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.identification-center-name1 h1{
    color: white;
    font-size: 60px;
    margin-bottom: 15px;
}

.identification-center-name1 p{
  color: #9C9C9C;
  font-size: 20x;
  font-family: 'IBM Plex Sans', sans-serif;
  margin-bottom: 40px;
}

.identification-center-name1 p span{
  color: #23a6dd;
}

.identification-center-photo{
  width: 30%;
  height: 80%;
  display: flex;
  align-items: center;
  /* background-color: red; */
}

.identification-center-photo img{
  border-radius: 50%;
  width: 330px;
  height: 330px;
}

.identification-center-buttom{
  /* background-color: red; */
  height: 100px;
  display: flex;
  align-items: center;
}

.identification-center-buttom button{
    background: none;
    border: none;
    background-color: #23a6dd;
    font-weight: 600;
    width: 25%;
    height: 55%;
    color: white;
    cursor: pointer;
    font-family: 'Play', sans-serif;
}

.identification-center-buttom button:hover{
  border: 1px solid #fff;
}

.CaseStudies-section {
  background-color: white;
  height: 36cm;
  width: 100%;
  display: flex;
  justify-content: center;
}

.CaseStudies-container{
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  width: 68%;
}

.CaseStudies-header{
  height: 11%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 25px; */
  margin-bottom: 15px;
}

.CaseStudies-header h1{
  font-size: 35px;
  font-family: 'Nova Square', sans-serif;
  margin-bottom: 9px;
  margin-top: 15px;
}

.CaseStudies-header p {
	width: 52%;
	color: #9C9C9C;
	font-family: 'Nova Square', sans-serif;
	font-size: 16px;
	font-weight: 600;
}

.CaseStudies-project1{
  /* background-color: red; */
  height: 31%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#CaseStudies-project-first{
  height: 25%;
}

#CaseStudies-different-right{
}

.CaseStudies-project1-left{
  /* background-color: blue; */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}


.CaseStudies-project1-right {
  width: 50%;
  display: flex;
  align-items: center;
}

.CaseStudies-project1-right img{
  width: 80%;
  height: 80%;
  border-radius: 9px;
}

.CaseStudies-lang {
	width: 61px;
	height: 21px;
	display: flex;
	align-content: center;
	justify-content: center;
	border-radius: 9px;
  margin-bottom: 15px;
}

.CaseStudies-project1-information{
  margin: 10px 0;
}

.CaseStudies-project1-information h2{
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
  font-size: 27px;
}

.CaseStudies-project1-information p{
  color: #9C9C9C;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 15px;
  width: 73%;
}

.CaseStudies-project1-left a {
	background-color: #FFA217;
	width: 40%;
	border: none;
	height: 40px;
	margin-top: 14px;
  cursor: pointer;
  color: white;
  font-weight: 800;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-family: 'Play', sans-serif;
}

.transcendance-lang {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 16px;
}

.lang {
	width: 44px;
	display: flex;
	height: 21px;
	align-content: center;
	justify-content: center;
	border-radius: 7px;
}

#html,
#css,
#js,
#react,
#ts,
#next, 
#nest,
#docker,
#c {
  background-color: orange;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 15px;
}

#html p,
#css p,
#js p,
#react p,
#ts p,
#next p,
#nest p,
#docker p,
#c p
 {
  font-size: 11px;
  font-family: 'Play', sans-serif;
}

#css{
  background-color: #1a85e4;
}

#js{
  background-color: rgb(228, 228, 54);
}

#ts{
  background-color: #22f;
}

#react{
    background-color: #4f8af9;
}


#next{
    background-color: #111010;
}

#nest{
  background-color: #f92e2e;
}

#transcendance-btn{
  background-color: #2AB090;
  color: white;
  font-weight: 600;
}

#docker{
  background-color: #00b7ff;
  width: 54px;
}

#view2{
  background-color: #000AFF;
}

#c{
  background-color: #1a4fee;
}

#CaseStudies-different{
  /* background-color: red; */
  height: 33%;
}

#trans-image{
  margin-top: 6px;
}

#btn-tran{
  background-color: #000AFF;
}

#btn-cub{
  background-color: #2AB090;
}

.feedbacks {
  height: calc(25cm + 24px);
  display: flex;
  justify-content: center;
}

.feedbacks-container{
    height: 100%;
    width: 60%;
}

.feedbacks-header {
	height: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 17px;
}

.feedbacks-header h1{
  color: white;
  margin-bottom: 15px;
  font-family: 'Nova Square', sans-serif;
}

.feedbacks-header p {
  width: 45%;
  color: #9C9C9C;
  font-family: 'Nova Square', sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.feedbacks-section{
  height: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
}

.feedbacks-poeple {
	border: 0.7px solid #ffffff57;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 20px;
	margin-left: 20px;
  /* height: 80%; */
  border-radius: 19px;
}

.feedbacks-msg {
	width: calc(100% - 45px);
	margin-left: 45px;
}

.feedbacks-msg p {
  width: 100%;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Sora', sans-serif;
}

.feedbacks-identif {
	display: flex;
	align-items: center;
	margin-top: 41px;
	width: calc(100% - 37px);
	margin-left: 37px;
}

.feedbacks-identif img {
	width: 47px;
	height: 47px;
	margin-right: 7px;
}

.feedbacks-identif h2 {
	color: white;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}

.quote {
  width: 26px;
  height: 27px;
  position: absolute;
}

.container-quote {
  position: relative;
  bottom: 114px;
  left: 21px;
}

#another-quote{

}

#left-top{
    top: 9px;  
}

#right-bottom{
}

#left-bottom{
}

.education{
  background-color: white;
  display: flex;
  justify-content: center;
  height: 30cm;
  display: none;

}

.education-container {
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.education-icon img{
  width: 40px;
  height: 40px;
}

.education-header {
  height: 16%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 37px;
}

.education-header h1 {
	color: black;
	font-family: 'Nova Square', sans-serif;
	margin-bottom: 15px;
}

.education-header p {
  width: 18cm;
  color: #9C9C9C;
  font-family: 'Nova Square', sans-serif;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.education-section {
  height: calc(70% - 15px);
  display: flex;
  align-items: center;
  width: calc(26cm - 44px);
}

.education-information {
  height: 100%;
  align-items: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-right: 24px;
  width: 11cm;
}


.education-img {
	display: flex;
	align-items: center;
	justify-content: center;
}

.education-img img {
  width: 305px;
  height: 332px;
  border-radius: 13px;
}

.education-para {
	width: 100%;
	height: 31%;
  display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.education-para p {
  width: 74%;
  color: #807e7e;
  font-family: 'Nanum Gothic';
  font-size: 13px;
  justify-content: center;
}

.education-para {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  margin-top: 13px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.education-para h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.education-para a {
  height: 38px;
  background: #23a6dd;
  color: white;
  font-family: 'Play', sans-serif;
  width: 152px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  font-size: 12.5px;
  cursor: pointer;
  text-decoration: none;
}

.MyAnimation {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  height: 100%;
}

#left{
  margin-right: 15px;
}

.education-icon{
  cursor: pointer;
}

.MyAnimation-child{
  display: flex;
}

#GetInTouc {
  background-color: black;
  height: calc(32cm + 12px);
}

#GetInTouc-header{
  color: white;
}

.GetInTouc-container {
  width: 35cm;
  height: 21cm;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 106px;  
}

.GetInTouc-input {
  width: 60%;
  height: 21%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* background-color: blue; */
}

.GetInTouc-input input, .GetInTouc-input textarea {
  height: 77px;
  width: 76%;
  display: flex;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-top: 17px;
  margin-left: 14px;
  padding-left: 14px;
}

.GetInTouc-input textarea {
  height: 208px;
  padding-top: 14px;
}

.GetInTouc-input label {
  font-family: 'Cantarell', sans-serif;
  color: white;
  font-size: 16px;
  margin-left: 14px;
}

.GetInTouc-buttom {
  width: 41%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  padding-left: 18px;
}

.submit-button {
  background: #23a6dd;
  height: 65px;
  width: 345px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  cursor: pointer;
}

.submit-button a {
  color: white;
  font-family: 'Play', sans-serif;
}

.submit-button:hover{
  border: 1px solid #23a6dd;
  background: black;
}

.submit-button:hover a{
  color: #09adf3;
}

#GetInTouc-message{
  height: 32%;
}

.GetInTouc-input input::placeholder, .GetInTouc-input textarea::placeholder{
  color: #129cd7;
  font-family: 'Sora', sans-serif;
  
}





/* Phone Screen */

@media screen and (max-width: 1864px) {
  .CaseStudies-container{
    width: 85%;
  }
  .CaseStudies-project1-right img{
    height: 73%;
    width: 85%;
  }
}

@media screen and (max-width: 1603px)  {
  .CaseStudies-project1-information p{
    font-size: 13px;
    /* background-color: red; */
  }
  .CaseStudies-header p{
    font-size: 14px;
    width: 65%;
  }

  .CaseStudies-container{
    width: 97%;
  }
  .identification-center-photo img{
    width: 282px;
    height: 282px;
  }
  .navbar-parent-right img{
    width: 22px;
    height: 22px;
  }
  .feedbacks-container{
    width: 72%;
  }
  .quote{
    /* left: 17%; */
  }
  #left-bottom,
  #left-top {
    top: 0px;
  }
  .container-quote{
    bottom: 106px;
  }
  #right-bottom {
    top: -10px;
  }
  .GetInTouc-container {
    width: 18cm;
    align-items: flex-start;
    margin-left: 0;
  }
  .GetInTouc-input input, .GetInTouc-input textarea{
  width: 100%;
  }
  .GetInTouc-input {
      width: 85%;
  }
}

@media screen and (max-width: 1236px) {
  .CaseStudies-project1-right img{
    height: 62%;
  }
}

@media screen and (max-width: 1011px) {
    .CaseStudies-project1-information p{
      font-size: 10px;
      width: 99%;
    }
    .CaseStudies-container{
      width: 98%;
    }

}

@media screen and (max-width: 952px) {
  .CaseStudies-project1-right img {
    width: 93%;
    height: 56%;
  }
  .feedbacks-section{
    height: 58%;
  }
  /* #right-bottom,
  #left-top{
    top: calc(271vh + 3px);
  } */
  #left-bottom{
    top: -10px;
  }
  #left-top{
      top: 9px;
  }
  .feedbacks-msg{
    margin-left: 30px;
  }
  .container-quote{
    bottom: 45px;
  }
  .education-information{
      width: 9cm;
  }
  .education-section {
    width: calc(23cm - 72px);
  }
  .education-header{
    height: 13%;
  }
  .education-img img {
    width: 277px;
    height: 318px;
}
}

@media screen and (max-width: 796px) {
  .navbar-parent-right {
    width: 24%;
}
  .navbar-parent-left a{
    font-size: 14px;
  }
  .navbar-parent-right a img{
    width: 30px;
    height: 30px;
  }
  .navbar-back{
    width: 80%;
  }
  .identification-center-photo img{
    width: 215px;
    height: 215px;
  }
  .identification-center {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 19cm;
}
  .identification-center-buttom button{
    width: 60%;
  }
  .identification-center-photo {
    width: 100%;
    justify-content: center;
  }
  .identification-center-name1 {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .identification-center-buttom {
    /* background-color: red; */
    height: 100px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
  .CaseStudies-project1-information p{
    font-size: 12px;
  }
  .CaseStudies-container{
      width: 96%;
  }
  .CaseStudies-project1-information h2{
    font-size: 24px;
  }
  .CaseStudies-project1-left a{
    height: 32px;
  }
  .CaseStudies-project1-right img{
    height: 49%;
    margin-top: 20px;
    width: 97%;
  }
  .CaseStudies-header h1{
    font-size: 30px;
  }
  .CaseStudies-project1-left{
    padding-left: 0;
  }
  #CaseStudies-different-right{
    padding-left: 7px;
  }
  #html p, #css p, #js p, #react p, #ts p, #next p, #nest p, #docker p, #c p{
    font-size: 10px;
  }
  .feedbacks-msg{
    margin-left: 15px;
  }
  .feedbacks-identif{
    margin-left: 14px;
  }
  #abberkac-feedback{
    font-size: 13px;
  }
  .education-information {
    width: 6cm;
  }
  .feedbacks-header p {
    width: 100%;
  }
  .identification-center-photo img {
    width: 200px;
    height: 200px;
  }
  .identification-center-name1 h1 {
    font-size: 46px;
  }
  .identification-center-name1 p {
    font-size: 14px;
    width: 64%;
}
  .education-img img {
    width: 220px;
    height: 259px;
    border-radius: 13px;
  }
  .education-para h2 {
    font-size: 12px;
  }
  .education-para p {
    width: 92%;
    font-size: 11px;
  }
  .education-para {
    margin-top: 18px;
    height: calc(4cm + 23px);
}
  .education-para a {
    height: 34px;
    width: 126px;
    font-size: 12.5px;
    justify-content: space-around;
  }
  .education-section {
    width: calc(18cm - 107px);
}
  .education-icon img {
    width: 33px;
    height: 33px;
  }
  .education-header p {
    width: 13cm;
    font-size: 12px;
  }
  .education-header h1 {
    font-size: 28px;
  }
  .GetInTouc-input input{
      height: 63px;
  }
  .GetInTouc-input textarea{
      height: 160px;
  }
  .GetInTouc-buttom {
    width: 31%;
    height: 7%;
    margin-left: 0;
  }
  .submit-button {
    height: 48px;
    width: 188px;
  }
  .GetInTouc-input input, .GetInTouc-input textarea{
    width: 100%;
  }
  .GetInTouc-container{
    width: 13cm;
    margin-right: 40px;
    margin-left: 10px;
  }

}

@media screen and (max-width: 585px){
  /* .container-quote{
    right: calc(3cm + 25px);
  } */
  .CaseStudies-project1-left{
    width: 52%;
  }
  .feedbacks-msg p{
      font-size: 10px;
  }
  #abberkac-feedback{
    font-size: 10px;
  }
  .navbar-parent-left a{
    font-size: 25%;
  }
  .navbar-parent-right a img{
    width: 20px;
    height: 20px;
  }
  .navbar-back{
    width: 94%;
    padding: 10px 0px;
  }
  .identification-center-photo img{
    width: 180px;
    height: 180px;
  }
  .identification-center-buttom button{
    height: 44px;
  }
  .identification-center-name1 h1{
    font-size: 35px;
  }
  .identification-center-name1 p {
    width: 80%;
}
  .CaseStudies-project1-information p{
    font-size: 11px;
  }
  .CaseStudies-header p {
    font-size: 10px;
    width: 90%;
  }
  .CaseStudies-project1-information h2 {
    font-size: 20px;
  }
  .CaseStudies-project1-right img {
    height: 80%;
    margin-top: 0;
}

  .CaseStudies-project1 {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}
.feedbacks-section{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.feedbacks-poeple{
  justify-content: center;
}
.quote {
  width: 17px;
  height: 17px;
}
.container-quote {
  bottom: 22px;
}
#left-top {
  top: -3px;
}
#another-quote {
  top: -10px;
}
.feedbacks-identif{
  margin-top: 14px;
}
#CaseStudies-different {
  flex-direction: column;
}

.CaseStudies-section {
  height: 44cm;
}
#CaseStudies-project-first {
  height: 36%;
}
.CaseStudies-project1-right {
  height: 50%;
}
.feedbacks-container{
  width: 84%;
}
.feedbacks-identif h2{
  font-size: 11px;
}
.feedbacks-identif img{
  width: 30px;
  height: 30px;
}
.feedbacks-header p{
  font-size: 11px;
}
.CaseStudies-project1-left a{
  width: 95%;
}
/* .quote{
  top: calc(214vh + 3px);
}
#right-bottom,#left-top{
  top: calc(237vh + 3px);
}
#right-bottom{
  left: 16%;
}
.quote{
  left: 16%;
}
#left-bottom, #left-top{
  left: 58%;
} */
.CaseStudies-lang{
  margin-bottom: 0;
}
.CaseStudies-header{
  margin-bottom: 0;
  height: 7%;
}
#html, #css, #js, #react, #ts, #next, #nest, #docker, #c{
  margin-right: 5px;
}
}

@media screen and (max-width: 426px) {
  .identification-center-name{
    width: 100%;
  }
  .CaseStudies-project1-information p{
    font-size: 7px;
  }
  .CaseStudies-header h1 {
    font-size: 16px;
  }
  .CaseStudies-header p {
    font-size: 7px;
    width: 94%;
  }
  #html, #css, #js, #react, #ts, #next, #nest, #docker, #c{
    margin-right: 4px;
  }
  #CaseStudies-different{
    height: 38%;
  }
  #CaseStudies-project-first {
    height: 33%;
  }
  .CaseStudies-project1-right img{
    margin-top: 22px;
  }
  .transcendance-lang{
    margin-bottom: 0;
  }
  #html p, #css p, #js p, #react p, #ts p, #next p, #nest p, #docker p, #c p{
    font-size: 9px;
  }
  .CaseStudies-section {
    height: 33cm;
  }
  .CaseStudies-project1-right img {
    height: 65%;
    margin-top: 0;
  }
 
}